@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);

/*
    Globals
*/

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height: 100%;
    color: #505050;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.no-border {
    border: 0 none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.flex-content{
    display: flex;
}

.crunchie-btn{
    background: #fff;
    color: #ff780a;
    border: 1px solid #ff780a;
}
.crunchie-btn:hover, .crunchie-btn:focus, .crunchie-btn.active{
    background: #ff780a;
    color: #fff;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/*
    Typography
*/

a {
    color: #434343;
}

a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.h5{
    font-size: 13px;
}

/*
    Spaces
*/

.height-5 {
    height: 5px;
    clear: both;
}
.height-10 {
    height: 10px;
    clear: both;
}

.height-15 {
    height: 15px;
    clear: both;
}

.height-20 {
    height: 20px;
    clear: both;
}
.height-25 {
    height: 25px;
    clear: both;
}

.height-30 {
    height: 30px;
    clear: both;
}

.height-35 {
    height: 35px;
    clear: both;
}
.height-40 {
    height: 40px;
    clear: both;
}
.height-45 {
    height: 45px;
    clear: both;
}
.height-50 {
    height: 50px;
    clear: both;
}
.height-55 {
    height: 55px;
    clear: both;
}
.pt-1{
    padding-top: 1px;
}

/*
    Colors / background-colors
*/

.dark-bg{
    background: #3f4b56;
}

/*
    Main Styles
*/

/*
    Header
*/

header.platform-header{
    padding: 10px 0;
}

header.platform-header .navbar{
    margin-bottom: 0;
}

header.platform-header .navbar .navbar-collapse .navbar-nav>li>a{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    background: none;
}
header.platform-header .navbar .navbar-collapse .navbar-nav>li>a:hover,
header.platform-header .navbar .navbar-collapse .navbar-nav>li>a:focus,
header.platform-header .navbar .navbar-collapse .navbar-nav>li>a:active{
    background: none;
    color: #bcb7b7;
}
header.platform-header .navbar .dropdown-menu{
    background: #3f4b56;
}
header.platform-header .navbar .dropdown-menu li{
    margin: 5px 0;
}
header.platform-header .navbar .dropdown-menu li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

header.platform-header .navbar .dropdown-menu li a:hover{
    background: none;
    color: #ff780a;
}

/**/

/*
    Main Content
*/

/*
    Login Panel
*/

.login-panel.panel-default{
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.login-panel.panel-default > .panel-heading {
    color: #fff;
    background-color: #ff780a;
    border: none;
}
.login-panel.panel-default input:focus {
    border-color: #ff780a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 120, 10, 0.82);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 120, 10, 0.47);
}
/**/

.main-content .panel{
    margin-bottom: 0;
}
.main-content .panel-default>.panel-heading {
    color: #fff;
    background-color: #3f4b56;
    border-color: #3f4b56;
}
.main-content p.h5{
    font-weight: 600;
}
.main-content p.content-title{
    background: #e1e1e1;
    padding: 10px 0 10px 10px;
    border-radius: 3px;
}

.main-content ul.setup-filters{
    padding: 0 13px;
}

.main-content ul.setup-filters li{
    flex: 1;
    margin: 0 2px;
}
.main-content textarea{
    height: 71px;
    resize: vertical;
}

.main-content .mobile-settings .btn{
    margin: 0 5px 10px 0;
}

/**/